<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Thymeleaf is a template engine which ties frontend and backend -->
<head>
    <meta charset="UTF-8">
    <title>Create New Account</title>
    <link th:href="@{/styles/index.css}" rel="stylesheet">
    <script src="https://use.fontawesome.com/9d779ee93e.js"></script>
</head>
<body>
    <div id="content">
        <div id="contentWrapper">
            <div id="credentialsSection">
                <img th:src="@{~/img/rick_astley_2.png}" class="logo" alt="rick astley">
                <h2>John Doe</h2>
                <form action="/submitNewAccount" method="post">
                    <input type="text" id="email" name="email" placeholder="email" maxlength="50" required><i class="fa fa-user-o" aria-hidden="true"></i><br>
                    <input type="text" id="username" name="username" placeholder="username" maxlength="30" required> <i class="fa fa-envelope-o" aria-hidden="true"></i><br>
                    <input type="password" id="password" name="password" placeholder="password" maxlength="60" required> <i class="fa fa-shield" aria-hidden="true"></i></i><br>
                    <button type="submit">Create Account</button>
                </form>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="footerSection">
            <a href="/login">Sign in <i class="fa fa-long-arrow-right" aria-hidden="true"></i></i></a>
        </div>
    </footer>

</body>
</html>