<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Thymeleaf is a template engine which ties frontend and backend -->
<head>
    <meta charset="UTF-8">
    <title>Login Successful</title>
    <link th:href="@{/styles/index.css}" rel="stylesheet">
</head>
<body>
    <div id="content">
        <div id="contentWrapper">
            <h1>Login Successful</h1>
        </div>
    </div>

    <footer class="footer">
        <div class="footerSection">
            <a href="/logout">Logout-></a>
        </div>
    </footer>

</body>
</html>